.App {
  text-align: center;
  width: 500px;
  margin: auto;
  background-color: #fdfd96;
}

header {
  text-align: center;
  
}
.App-header {
  background-color: #fdfd96;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  background-color: #fdfd96;
  text-decoration-line: underline;
  text-decoration-color: #020269;
}

.true {
  text-decoration: line-through;
}

button {
  border-radius:6px;
  background-color: #020269;
  color: white;
}